# SAvEM3 post-processing / evaluation environment (Python 3.9)
# Before use, create a conda environment and install the
# nifty / vigra / affogato / libboost headers specified in repro/env/environment-post.yml.
# Then, execute the following within the conda environment:
#   pip install -r requirements-post.txt
# Or simply run repro/env/setup_postprocess.sh (compilation flags are automatically set for Apple Silicon).

h5py>=3.10
imageio>=2.34
networkx>=3.0
kimimaro>=5.0
numpy>=1.26,<2.1
scikit-image>=0.22
scikit-learn>=1.3
tifffile>=2024.2
waterz @ git+https://github.com/funkey/waterz.git
elf @ git+https://github.com/constantinpape/elf.git@0.5.0
