cloud-volume==12.8.0
kimimaro==5.8.0
matplotlib
networkx
neuroglancer==2.41.2
numba==0.62.1
numpy
opencv-python
openpyxl
pandas
pillow
scipy
tifffile
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
tqdm
